{% extends "global.html" %}
{% load embed_video_tags %}
{% load staticfiles %}
{% load static %}
{% block css %}
        <link rel="stylesheet" href="{% static "css/dashboard.css" %}">
{% endblock %}
{% block script %}
        <script type="text/javascript" src="{% static "js/scripts/giver_dashboard.js" %}"></script>
{% endblock %}
{% block nav-list-items %}
    <li><a href="#/">Partners</a></li>
    <li><a href="#/giver/{{ giver.id }}">Profile</a></li>
    <li><a href="#/giver/analytics/{{ giver.id }}">Analytics</a></li>
    {% if user.is_authenticated %}
        <li><a href="{% url 'auth_logout' %}">Log out</a></li>
    {% else %}
    {% endif %}
{% endblock %}
{% block content %}
     <div class="content">
        <html ng-app="giver_dashboard_app">
            <head>
               <script src="{% static 'jquery/jquery.js' %}"></script>
               <script src="{% static 'jquery/jquery.min.js' %}"></script>
                <!--angular javascript stuff-->
                <script src="{% static 'js/vendor/angular.js' %}"></script>
                <script src="{% static 'js/vendor/angular-route.js' %}"></script>
                <script src="{% static 'js/vendor/angular-resource.js' %}"></script>
                <script src="{% static 'js/giverapp.js' %}"></script>
                <script src="{% static 'js/controllers/giverController.js' %}"></script>
                <script src="{% static 'js/controllers/giverfullController.js' %}"></script>

            </head>
            <body>
                <div ng-view></div>
            </body>
        </html>
     <h1 id="test" class="blue">Click Me! Jquery works!!</h1>
    </div>
{% endblock %}