{% load i18n %}
{% load staticfiles %}

<html ng-app>

<head>
    <title>{% block title %}User test{% endblock %}</title>
    <script src="{% static "js/vendor/angular.js" %}"></script>
    <script src="{% static "js/vendor/angular-route.js" %}"></script>
    <script src="{% static "js/vendor/angular-route.js" %}"></script>

    <script src="{% get_static_prefix %}js/vendor/angular-route.js"></script>

    <script src="{% get_static_prefix %}js/vendor/angular-resource.js"></script>
    <script src="{% get_static_prefix %}js/angular-flexslider.js"></script>
    <script type="text/javascript" src="{% static "jquery/jquery.js" %}"></script>
    {#        <script type="text/javascript" src="{% static "jquery/jquery-2.1.0.js" %}"></script>#}
    {% block moresources %}{% endblock %}
</head>

{% block content %}
{% endblock %}