{% extends 'base.html' %}
{% load embed_video_tags %}
{% block content %}
Welcome to Pangea
<h1>Hello world</h1>
<a href="{% url 'giver_dashboard' %}" class="medium-font light white">Giver</a>
<a href="{% url 'charity_dashboard' %}" class="medium-font light white">Charity</a>

    {% for video in all_videos %}
        <h1>{{ video.title }}</h1>
        <h3>Uploaded: {{ video.posted }}</h3>
        <p>Description: {{ video.description }}</p>
        <h1>Uploaded by {{ video.charity.name }}</h1>
        <a href="{{ video.charity.charity_url }}">Go to there site</a>
        <p>The charities description: {{ video.charity.description }}</p>
        <p>{{ video.charity.name }}'s slogan: {{ video.charity.slogan }}</p>
        <h1>The video</h1>
        <p>{{ video.video_url }}</p>
        <h1>{{ video.video_embed }}</h1>
        {% video video.video_embed 'small' %}

        <hr>
    {% endfor %}
{% endblock %}
